page-produto-subgrupo {
    ion-header{
        ion-icon.back-button-icon.icon {
            color: map-get($colors, light);
            
        }
        span.back-button-text.back-button-text-ios, span.back-button-text.back-button-text-md{
            color: map-get($colors, light);
        }
        ion-col{
            ion-icon{
                float: right;
                display: block;
                font-size: 30px;
                margin-top: 80%;
                margin-left: 15%;
                color: color($colors, light, base);
            }
        }
    }
    ion-title{
        color: color($colors, light, base);
    }
}
